@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

:root {
  --main-bg-color: brown;
}

body {
  width: 50%;
  margin: 10rem auto;
  padding: 20px;
  border: 1px solid black;
  font-weight: 900;
  font-family: Chakra Petch;
  background-color: var(--main-bg-color);
}

/* .food-item {
  display: block;
} */

.food {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.item {
  border: 1px solid black;
  flex: 1;
  flex-basis: 20rem;
}

#item-2 {
  flex: 5;
}
